################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RFIDCommandCenter/v15/Browse.VC.opendb
/.vs/RFIDCommandCenter/v15/Solution.VC.db
/.vs/RFIDCommandCenter/v15/Solution.VC.db-shm
/.vs/RFIDCommandCenter/v15/Solution.VC.db-wal
.vs/
RFIDCommandCenter/obj/Debug/RFIDCommandCenter.csprojAssemblyReference.cache
RFIDCommandCenter/bin/Debug/
RFIDCommandCenter/obj/Debug/
UIDemo/bin/Debug/
UIDemo/obj/Debug/
*.cache
